<h2><%= t('view.todotasks.index') %></h2>
<%= link_to "終了期限でソートする", todotasks_path(sort_expired: "true"), class:"btn btn-danger mt-4" %>
<%= link_to "優先度でソートする", todotasks_path(priority_sort_expired: "true"), class:"btn btn-warning mt-4" %>
<%= form_with(model: Todotask.new, url: todotasks_path, local:true, method: :get, class:"form-inline mt-4") do |f| %>
  <%= f.label :name, class:"mr-2" %>
  <%= f.text_field :name, class:"form-control col-md-4 col-xs-12 mb-2 mr-sm-4" %>

  <%= f.label :status, class:"mr-2" %>
  <%= f.select :status,[["未着手",1], ["着手", 2], ["完了", 3]], { include_blank: true }, class:"form-control col-md-2 col-xs-12 mb-2 mr-sm-2" %>

  <%= f.label :label_ids, t('view.todotasks.label'),class:"mr-2" %>
  <%= f.select :label_ids, @labels.map{|t| [t.name, t.id]}, { include_blank: true }, class:"form-control col-md-2 col-xs-12 mb-2 mr-sm-2" %>

  <%= f.hidden_field :search_flag, value: "true" %>

  <%= f.submit t('view.todotasks.search'), class:"btn btn-primary mb-2" %>
<% end %>
<div class="alert alert-dark">
期限間近タスク一覧
<% if @count == 0 %>
<br />
期限が近いタスクはありません
<% else %>
  <table class="table mt-4">
    <thead class="thead-dark text-center">
      <tr>
        <th><%= t('view.todotasks.name') %></th>
        <th><%= t('view.todotasks.content') %></th>
        <th><%= t('view.todotasks.status') %></th>
        <th><%= t('view.todotasks.deadline') %></th>
        <th><%= t('view.todotasks.priority') %></th>
        <th><%= t('view.todotasks.author') %></th>
        <th><%= t('view.show') %></th>
        <th><%= t('view.edit') %></th>
        <th><%= t('view.delete') %></th>
        <th><%= t('view.todotasks.daysleft') %></th>
      </tr>
    </thead>
      <% @warntasks.each do |warn| %>
        <% if ( (warn.deadline - @time) / (24*60*60) ) <= 1 %>
          <% if (((warn.deadline - @time) / (24*60*60)).floor + 1) < 0 %>
          <tr class="bg-danger text-white">
          <% elsif (((warn.deadline - @time) / (24*60*60)).floor + 1) <= 2 %>
          <tr class="bg-warning">
          <% else %>
          <tr>
          <% end %>
            <td><%= warn.name %></td>
            <td><%= warn.content %></td>
            <td class="text-center">
              <% if warn.status == 1 %>
                <%= t('view.todotasks.status_1') %>
              <% elsif warn.status == 2 %>
                <%= t('view.todotasks.status_2') %>
              <% else %>
                <%= t('view.todotasks.status_3') %>
              <% end %>
            </td>
            <td class="text-center"><%= warn.deadline.year %>-<%= warn.deadline.month %>-<%= warn.deadline.day %></td>
            <td class="text-center">
              <% if warn.priority == 1 %>
                <%= t('view.todotasks.priority_high') %>
              <% elsif warn.priority == 2 %>
                <%= t('view.todotasks.priority_middle') %>
              <% else %>
                <%= t('view.todotasks.priority_low') %>
              <% end %>
            </td>
            <td><%= warn.user.name %></td>
            <td class="text-center"><%= link_to t('view.show'), todotask_path(warn.id), class:"btn btn-info" %></td>
            <td class="text-center"><%= link_to t('view.edit'), edit_todotask_path(warn.id), class:"btn btn-secondary" %></td>
            <td class="text-center">
              <% if (((warn.deadline - @time) / (24*60*60)).floor + 1) < 0 %>
                <%= link_to t('view.delete'), todotask_path(warn.id), method: :delete, class:"btn btn-light text-danger" %>
              <% else %>
                <%= link_to t('view.delete'), todotask_path(warn.id), method: :delete, class:"btn btn-danger" %>
              <% end %>
            </td>
            <td class="text-center">
              <% if (((warn.deadline - @time) / (24*60*60)).floor + 1) < 0 %>
              <%= t('view.todotasks.expired') %>
              <% else %>
              <%= t('view.todotasks.left') %><%=(((warn.deadline - @time) / (24*60*60)).floor + 1) %><%= t('view.todotasks.days') %>
              <% end %>
            </td>
          </tr>
      <% end %>
    <% end %>
  </table>
<% end %>
</div>
<table class="table mt-5">
  <thead class="thead-light text-center">
    <tr>
      <th><%= t('view.todotasks.name') %></th>
      <th><%= t('view.todotasks.content') %></th>
      <th><%= t('view.todotasks.status') %></th>
      <th><%= t('view.todotasks.deadline') %></th>
      <th><%= t('view.todotasks.priority') %></th>
      <th><%= t('view.todotasks.author') %></th>
      <th><%= t('view.show') %></th>
      <th><%= t('view.edit') %></th>
      <th><%= t('view.delete') %></th>
    </tr>
  </thead>
  <% @todotasks.each do |task| %>
      <tr>
        <td><%= task.name %></td>
        <td>
          <% if task.content.nil? %>
            から
          <% else %>
            <%= task.content %>
          <% end %>
        </td>
        <td class="text-center">
          <% if task.status == 1 %>
            <%= t('view.todotasks.status_1') %>
          <% elsif task.status == 2 %>
            <%= t('view.todotasks.status_2') %>
          <% else %>
            <%= t('view.todotasks.status_3') %>
          <% end %>
        </td>
        <td class="text-center"><%= task.deadline.year %>-<%= task.deadline.month %>-<%= task.deadline.day %></td>
        <td class="text-center">
          <% if task.priority == 1 %>
            <%= t('view.todotasks.priority_high') %>
          <% elsif task.priority == 2 %>
            <%= t('view.todotasks.priority_middle') %>
          <% else %>
            <%= t('view.todotasks.priority_low') %>
          <% end %>
        </td>
        <td>
          <% if task.user_id.present? %>
            <%= task.user.name %>
          <% else %>

          <% end %>
          </td>
        <td class="text-center"><%= link_to t('view.show'), todotask_path(task.id), class:"btn btn-info" %></td>
        <td class="text-center"><%= link_to t('view.edit'), edit_todotask_path(task.id), class:"btn btn-secondary" %></td>
        <td class="text-center"><%= link_to t('view.delete'), todotask_path(task.id), method: :delete, class:"btn btn-danger" %></td>
      </tr>
  <% end %>
</table>

<%= month_calendar events: @calender_tasks do |date, calenders| %>
  <%= date %>

  <% calenders.each do |calender| %>
    <div class="text-danger">
      <%= calender.name %>
    </div>
  <% end %>
<% end %>

<%= column_chart @graph_data %>

<%= paginate @todotasks, class:"pagination" %>
