<h1>Todotasks#index</h1>
<% @todotasks.each do |task| %>
  <table>
    <tr>
      <%= task.name %>
      <% if task.content.nil? %>
        から
      <% else %>
        <%= task.content %>
      <% end %>
      <% if task.status == 1 %>
        未着手
      <% elsif task.status == 2 %>
        着手
      <% else %>
        完了
      <% end %>
      <%= task.deadline.year %>-<%= task.deadline.month %>-<%= task.deadline.day %>
      <% if task.priority == 1 %>
        高
      <% elsif task.priority == 2 %>
        中
      <% else %>
        低
      <% end %>
      <%= link_to "詳細", todotask_path(task.id) %>
      <%= link_to "編集", edit_todotask_path(task.id) %>
      <%= link_to "削除", todotask_path(task.id), method: :delete %>
    </tr>
  </table>
<% end %>
