<!DOCTYPE html>
<html>
  <head>
    <meta charset = "UTF-8" />
    <meta content="width=device-width,initial-scale=1" name="viewport">
    <title>Task</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <nav class="navbar navbar-expand-md navbar-dark bg-dark mb-4">
        <div class="container">
          <a class="navbar-brand" href="/">Todotasktools</a>
          <div class="cnavbar-nav float-lg-right" id="Navbar">
            <ul class="navbar-nav mr-auto">
              <% if current_user.present? %>
              <li class="nav-item">
                <%= link_to t('view.todotasks.new'), new_todotask_path, class:"nav-link" %>
              </li>
              <li class="nav-item">
                <%= link_to t('view.groups.new'), new_group_path, class:"nav-link" %>
              </li>
              <li class="nav-item">
                <%= link_to t('view.users.show'), user_path(id: current_user.id), class:"nav-link" %>
              </li>
              <li class="nav-item">
                <%= link_to "Logout", session_path(current_user.id), method: :delete, class:"nav-link" %>
              </li>
              <% else %>
              <li class="nav-item">
                <%= link_to t('view.users.new'), new_user_path, class:"nav-link" %>
              </li>
              <li class="nav-item">
                <%= link_to "Login", new_session_path, class:"nav-link" %>
              </li>
              <% end %>
            </ul>
          </div>
        </div>
      </nav>
    </header>
    <main role="main" class="container">
        <% flash.each do |message_type, msg| %>
          <div class="alert alert-<%= message_type %>">
            <%= msg %>
          </div>
        <% end %>
      <%= yield %>
    </main>
  </body>
</html>
